.venv/
__pycache__/
*.py[cod]
*.sqlite3
*.db
.idea/
.vscode/
build/
dist/
*.spec

data/*
!data/.gitkeep
storage/proposals/*
!storage/proposals/.gitkeep
storage/revisions/*
!storage/revisions/.gitkeep
storage/finals/*
!storage/finals/.gitkeep
storage/previews/*
storage/html_previews/*
